@use '../common.scss' as common;

.repos-grid {
  width: 100%;
  grid-template-columns: repeat(auto-fill, 230px);
  grid-gap: 1rem;
  display: grid;
  justify-content: center;
  padding: 20px 0 0;

  .card {
    @include common.defaultDisplay;
    justify-content: space-between;
    border: 1px solid common.$white;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.5s;

    .name {
      font-weight: bolder;
      color: common.$white;
      text-align: center;
    }

    .description {
      font-weight: lighter;
      font-size: 12px;
      color: common.$white;
      text-align: justify;
      margin: 10px 0;
    }

    a {
      text-decoration: none;
      color: common.$red;
    }

    &:hover {
      border: 1px solid common.$red;
      transform: scale(1.05);
    }
  }
}
