@use '../common.scss' as common;

.searchbar {
  @include common.defaultDisplay;
  width: 100%;
  margin-top: 50px;

  input {
    width: 90%;
    max-width: 500px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
    color: common.$gray;

    &::placeholder {
      color: common.$gray;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: common.$gray;
    }

    &::-ms-input-placeholder {
      color: common.$gray;
    }

    &:focus {
      border: 2px solid common.$red;
    }
  }

  button {
    box-sizing: border-box;
    width: 40%;
    max-width: 300px;
    height: 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: common.$red;
    cursor: pointer;
    transition: all 0.3s;
    color: common.$white;
    font-size: 20px;

    &:disabled {
      cursor: auto;
      background-color: common.$gray;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
