@mixin defaultDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

$background: #202040;

$red: #ff6363;

$gray: #bbbbbb;

$yellow: #ffbd69;

$white: #ffffff;
