@use './common.scss' as common;

.home-container {
  @include common.defaultDisplay;
  padding: 180px 30px;
  width: 100%;
  box-sizing: border-box;

  h1,
  h4 {
    margin: 0;
    text-align: center;
  }
  h1 {
    color: common.$red;
    font-size: 45px;
    font-weight: bolder;
    letter-spacing: 5px;
  }

  h4 {
    font-weight: lighter;
    font-size: 15px;
    color: common.$yellow;
  }
}

@media (max-width: 900px) {
  .home-container {
    padding: 50px 15px;
    h1 {
      font-size: 35px;
    }
  }
}
