@use './components/index.scss';
@use "./layout.scss";
@use "./home.scss";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
